<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">
body{
	background-color: red;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
div{
	border: 2px solid;
	width:400px;
	height:250px;
	background-color: yellow;
}
h1{
	background-color: blue;
	width:200px;
	height:40px;
}
button{
	background-color: green;
}
</style>
</head>
<body>
<center>
	<div>
	<h1>User Login</h1>
	
	<form action="validate" method="post">

		<label>Email:</label> 
		<input type="text" name="email"> <br> <br>
		<label>Password:</label> 
		<input type="password" name="password"><br> <br> 
		<button name="btn">Login</button>
	</form>
	</div>
</center>
</body>
</html>