body{
	
	background-image: url('https://tse3.mm.bing.net/th?id=OIP.CuPAEMeN7S_O2dLGvOnvZgHaFj&pid=Api&P=0&h=180');
	background-size:cover;
	text-align: center;
	
}
h1{
	background-color: #00ffff;
}
button {
	background-color: #2788d8;
}